@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body,html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
/* .header-btn-div{

 } */

.header-btn-div button:nth-child(1){
    border: solid 1px #27AE60;
    width: 150px;
    height: 35px;
    font-size: 14px;
    color: #27AE60;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 10px;
    font-weight: 300;
    transition: 500ms;
}

.header-btn-div button:nth-child(1):hover{
    background-color: #27AE60;
    color: white;
}

.header-btn-div button:nth-child(2){
    border: none;
    width: 70px;
    height: 35px;
    font-size: 14px;
    color: white;
    border-radius: 10px;
     background: linear-gradient(93.77deg, #0ACEFE -6.36%, #2699FB 50.16%);
     font-weight: 300;
     transition: 500ms;
}

.header-btn-div button:nth-child(2):hover{
   color: #0ACEFE;
   border: solid 1px #2699FB;
   background: white;  
}

.main-heading-div{
  position: relative;
}
.main-heading-div h1{
    font-size: 50px;
    line-height: 60px;
    color: #0A2134;
    font-weight: 700;
}
.main-heading-div h1>span{
    font-size: 50px;
    line-height: 50px;
    color: #2699FB;
    font-weight: 700;
}
.main-heading-div p{
    font-size: 16px;
    color: #0A2134;
    font-weight: 400;
    padding-top: 10px;
}

#hhhhhh{
    font-size: 50px;
    line-height: 60px;
    color: #0A2134;
    font-weight: 700;
    display: none;
}

#pppppp{
    font-size: 16px;
    color: #0A2134;
    font-weight: 400;
    padding-top: 10px;
    display: none;
}
#sssss{
    font-size: 50px;
    line-height: 50px;
    color: #2699FB;
    font-weight: 700;
    display: none;
}

.main-heading-div ul{
    list-style: none;
    font-size: 16px;
    color: #0A2134;
    font-weight: 400;
    margin-left: -30px;
    line-height: 35px;
    margin-top: -15px;
}
.btn-btn-2-btn-div-up button:nth-child(1){
    width: 180px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background: linear-gradient(93.77deg, #0ACEFE -6.36%, #2699FB 50.16%);
    border: none;
    border-radius: 10px;
    transition: 500ms;
}

.btn-btn-2-btn-div-up button:nth-child(1):hover{
   color: #0ACEFE;
   border: solid 1px #2699FB;
   background: white;
}

.btn-btn-2-btn-div-up button:nth-child(2){
    width: 200px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    color: #0A2134;
    border: 1px solid #D0D5DD;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: 500ms;
}

.btn-btn-2-btn-div-up button:nth-child(2):hover{
   color: white;
   background-color: black;
   
}

::placeholder{
    font-size: 12px;
    padding-left: 10px;
}
.yello-all-divs-main{
    box-shadow: 0px 0px 5px 5px lightgray;
}
#round-div-form{
    border-radius: 50%;
    background-color: #E9F5FF;
    width: 100%;
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box-box-main{
    width: 350px;
    height: 400px;
    background-color: white;
    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    box-shadow: #E9F5FF 0px 0px 5px 5px;
}
#input-text-div-1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#input-text-div-1 label{
   font-size: 14px;
   color: #0A2134;
}

#input-text-div-1 input{
    font-size: 14px;
    color: #0A2134;
    padding-left: 20px;
    height: 40px;
    box-shadow: 0px 1px 2px 0px #1018280D;
    border: none;
    outline: none;
    border-radius: 5px;
 }

 #input-text-div-1 a{
    background: linear-gradient(93.77deg, #0ACEFE -6.36%, #2699FB 50.16%);
    box-shadow: 0px 1px 2px 0px #1018280D;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
 }

 .section-3-col1-heading h3{
    font-size: 34px;
    font-weight: 700;
    color: #0A2134;
 }
 .section-3-col1-heading p{
    font-size: 16px;
    font-weight: 400;
    color: #0A2134;
    padding-top: 8px;
 }
 .section-3-main-container{
    background: #F7FAFF;

 }

 .Assignments-text-little-text-div span:nth-child(1){
    color: #0A2134;
    font-size: 14px;
    font-weight: 600;
 }
 .Assignments-text-little-text-div span:nth-child(2){
    color: #43505B;
    font-size: 12px;
    font-weight: 400;
 }
 #book-btn-section-3{
    padding: 10px 26px;
    background: linear-gradient(93.77deg, #0ACEFE -6.36%, #2699FB 50.16%);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 25px;
    transition: 500ms;
 }

 #book-btn-section-3:hover{
    background: white;
    color: #0ACEFE;
    border: solid 1px #2699FB;
 }

 .section-3main-col1 h3{
    font-weight: 700;
    font-size: 40px;
    color: #0A2134;
    text-align: center;
 }

 

 .section-3main-col1 p{
    font-weight: 400;
    font-size: 16px;
    color: #0A2134;
    text-align: center;
 }

 .con-div-all{
    width: 240px;
     box-shadow: 0px 0px 2px 2px lightgrey;
  }

  .con-div-all p:nth-child(2){
    color: #0A2134;
    font-size: 16px;
    font-weight: 700;
    padding-top: 23px;
   }
   .con-div-all p:nth-child(3){
    color: #0A2134;
    font-size: 14px;
    font-weight: 400;
    margin-top: -13px;
   }
   
   .section-3-left-div-contant h3{
    font-weight: 700;
    font-size: 34px;
    color: #0A2134;
   }

   .section-3-left-div-contant p{
    font-weight: 400;
    font-size: 16px;
    color: #0A2134;
    padding-bottom: 10px;
   }


   .official-teat-div{
    width: 93%;
    border-radius: 5px;
    height: 77px;
    margin-bottom: 20px;
    box-shadow: lightgrey 0px 0px 5px 1px;
    background-color: white;
   }



   .official-teat-div h5{
    font-size: 16px;
    font-weight: 600;
    color: #0A2134;
    margin: 0px;
    padding: 0px;
    gap: 0px;
   }


   .official-teat-div p{
    font-size: 14px;
    font-weight: 400;
    color: #0A2134;
    margin: 0px;
    padding: 0px;
    gap: 0px;
    padding-top: 3px;
   }

   .book-btn-3{
    width: 150px;
    height: 40px;
    background: linear-gradient(93.77deg, #0ACEFE -6.36%, #2699FB 50.16%);
    font-size: 12px;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
    transition: 500ms;
   }

   .book-btn-3:hover{
      background:white;
      color: #0ACEFE;
      border: solid 1px #2699FB;
   
     }


   .certifict-back-round-div{
    width: 150px;
    height: 150px;
    background:#E9F5FF;  
    border-radius: 50%;
    position: absolute;
    left: 340px;
    bottom: 0;
 }


 #img-crtifict-bg{
    position: absolute;
    top: 15px;
    left: 150px;
 }

 #certifict-main-div{
    height: 470px;
    position: relative;
 }

.main-section-contaner-3{
    background-color: #F7FAFF;
}





.section-4-heading-div-1 h5{
   font-size: 36px;
   font-weight: 700;
   color: #0A2134;
   text-align: center;
}

.section-4-heading-div-1 p{
    font-size: 16px;
    font-weight: 400;
    color: #0A2134;
    text-align: center;
 }

/* cha la */

.accordion-item {
   margin-bottom: 15px;
   background-color: white;
  position: relative;  
  box-shadow: 0px 0px 3px 1px lightgray;
}

.accordion-header {
  background-color: white;
  padding: 10px;
  cursor: pointer;
}

.accordion-header i {
  float: right;
}

.accordion-content {
  padding: 10px;
  display: none;
  border: 1px lightgray solid;
  margin-top: 5px;
}

 .accordion-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
 } 

/* cha la */



.slider {
    overflow: hidden;
  }
  
  .slides {
    display: flex;
  }
  
  .slides img {
    width: 100%;
    transition: transform 0.5s ease;
  }
  
  #slider-ancer{
    font-size: 14px;
    color: #43505B;
    font-weight: 400;
    text-decoration: none;
  }

  #slider-ancer:hover{  
    background-color: #F2F4F7;
     border-bottom: #2699FB 2px solid;
  }
 
  .section-3-col-main-div{
    box-shadow: lightgray 0px 0px 10px 2px;
  }

  .left-para-div-right-icons p{
    font-size: 16px;
    font-weight: 400;
    color: #0A2134;
  }

  #btn-section-4-btn{
    font-size: 14px;
    color: white;
    background: linear-gradient(93.77deg, #0ACEFE -6.36%, #2699FB 50.16%);
    border: none;
    padding: 13px 30px;
    border-radius: 5px;
    transition: 500ms;
  }

  
  #btn-section-4-btn:hover{
   background: white;
   color: #0ACEFE;
   border: solid 1px #2699FB;
    
 }

  .section-5-main-1-heading-div h5{
    font-size: 32px;
    font-weight: 700;
    color: #0A2134;
   }

   .section-5-main-1-heading-div p{
    font-size: 16px;
    font-weight: 400;
    color: #0A2134;
    }

    .section-5-main-main{
        background-color:#F7FAFF;
    }

    .why-div-icon-text{
        /* height: 200px; */
        background-color: white;
        box-shadow: 0px 0px 5px 1px rgb(225, 225, 225);
    }


    .div-div-setion-5-text-h-p h6{
       font-weight: 600;
       font-size: 16px;
       color: #0A2134;
       margin: 0px;
       padding: 0px;
       padding-top: 20px;
    }

    
    .div-div-setion-5-text-h-p p{
        font-weight: 400;
        font-size: 12px;
        color: #0A2134;
        margin: 0px;
        padding: 0px;
        padding-top: 5px;
     }

     #section-5-div-btn-last-btn{
        width: 150px;
        height: 40px;
        background: linear-gradient(93.77deg, #0ACEFE -6.36%, #2699FB 50.16%);
        color: white;
        font-size: 12px;
        border: none;
        border-radius: 5px;
        transition: 500ms;
     }

     #section-5-div-btn-last-btn:hover{
      background: white;
      color: #0ACEFE;
      border: solid 1px #2699FB;
  
   }


     .section-6main-col-1-heading-div h5{
        color: #0A2134;
        font-weight: 700;
        font-size: 34px;
        text-align: center;
     }

     .section-6main-col-1-heading-div p{
        color: #0A2134;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
     }

     

     .section-6-section-main-col2{
        box-shadow: 0px 0px 5px 1px rgb(221, 221, 221);
        border-radius: 5px;
     }

     #mat-div-box-1-left{
         /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        justify-content: center; 
        height: 45px;
     }

     #mat-div-box-1-left span{
         color: #0A2134;
         font-size: 16px;
         font-weight: 600;
     }

     #mat-div-box-1-left p{
        color: #0A2134;
        font-size: 12px;
        font-weight: 400;
        padding: 0px;
        margin: 0px;
    }

    .d-f-1{
        /* background-color: violet; */
        align-items: center;
        height: 50px;
    }

     .para-div-section-6 p{
        color: #0A2134;
        font-size: 16px;
        font-weight: 400;
        padding-top: 11px;
     }

     .box-lener-gradint-div{
        background: linear-gradient(93.77deg, #0ACEFE -6.36%, #2699FB 50.16%);        
        border-radius: 10px;
      
     } 

     .text-all-div-main h3{
        font-weight: 700;
        font-size: 30px;
        color: #FFFFFF;
        text-align: center;
     }

     .text-all-div-main p{
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
     }

     #section-6-btn-btn-1{
        background-color: white;
        width: 170px;
        height: 40px;
        border: none;
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
        display: table;
        margin: auto;
        transition: 500ms;
     }

     #section-6-btn-btn-1:hover{
      background-color: black;
      color: white;
     }

     .sction-7-main-main{
      background-color: #F7FAFF;
     }

    .f-up-div-1-heading h4{
       font-weight: 700;
       color: #0A2134;
       font-size: 34px;
       text-align: center;
    }

    .f-up-div-1-heading p{
      font-weight: 400;
      color: #0A2134;
      font-size: 16px;
      text-align: center;
      padding-bottom: 18px;
   }

   #f-last-btn-last{
      width: 150px;
      height: 40px;
      background: linear-gradient(93.77deg, #0ACEFE -6.36%, #2699FB 50.16%);
      color: white;
      font-size: 12px;
      border: none;
      border-radius: 5px; 
   }

 
   .last-up-1col-1-heading h3{
      font-weight: 700;
      font-size: 26px;
      color: #0A2134;
      text-align: center;
   }
 
 .footer-main{
   background-color: #0A2540;
 }

 .last-col-copyright-div{
   border-top: solid 1px #868686;
   height: 60px;
   padding: 0px;
   margin: 0px;
   align-items: center;
   display: flex;
   justify-content: center;
 }